/* 추천 아티스트 버튼 스타일 */
.recommend-circle-button {
    background-color: #00bcd4;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 80px; /* 기존 버튼과 겹치지 않도록 조정 */
}

/* 추천 아티스트 모달 (기본 상태) */
.modal-recommend {
    display: none;  /* 기본적으로 숨김 */
    position: fixed;
    right: 20px;  /* 우측 하단 */
    bottom: 20px;
    width: 350px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* 추천 아티스트 모달 헤더 */
.modal-recommend-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* 추천 아티스트 모달 내용 */
.modal-recommend-content {
    padding: 10px;
    height: calc(100% - 50px); /* 헤더를 제외한 나머지 영역에 맞게 설정 */
      overflow: hidden; /* 스크롤바 숨기기 */
}

/* 추천 아티스트 닫기 버튼 */
#recommend-close-btn {
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
    float: right;
    color: gray;
}

#recommend-close-btn i{
	padding: 0;
}

/* 추천 아티스트 모달 애니메이션: 아래에서 위로 */
@keyframes slideUpRecommend {
    0% {
        opacity: 0;
        transform: translateY(100%); /* 시작 위치: 화면 밖 아래 */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* 끝 위치: 원래 위치로 */
    }
}

/* 추천 아티스트 목록 */
.modal-recommend-content ul {
    padding-left: 0;  /* 기본 여백 제거 */
    list-style-type: none;  /* 불릿 포인트 제거 */
}

/* 추천 아티스트 리스트 항목 */
.modal-recommend-content li {
    display: flex;
    flex-direction: column; /* 텍스트와 이미지를 세로로 배치 */
    padding: 10px 0;
    margin-top: 10px; /* 첫 번째 이미지와 두 번째 텍스트 사이의 간격을 늘림 */
}

/* 추천 아티스트 이미지 스타일 */
.modal-recommend-content img {
    width: 120px;
    height: 120px;
    border-radius: 10px; /* 이미지 모서리를 둥글게 */
    margin-top: 5px; /* 텍스트와 이미지 사이의 여백 */
}

/* 추천 아티스트 텍스트 스타일 */
.modal-recommend-content li span {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 3px; /* 텍스트와 이미지 사이 간격을 줄임 */
}


/* 모달이 열릴 때 */
.modal-recommend.show {
    display: block;
    opacity: 1;
    transform: translateY(0) scale(1);
}

/* 모달이 닫힐 때 (작아지면서 사라지기) */
.modal-recommend.closing {
    transform: translate(160px, 280px) scale(0); /* 버튼 위치로 축소 */
    opacity: 0;
}

.modal-recommend-content h2{
	padding-left: 20px;
	font-size: 20px;
}
.modal-artist-name{
	font-size:24px;
	font-weight:700;	
}
