@charset "UTF-8";

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #f8f8f8;
}

.logo {
    width: 110px; /* 로고 크기 조정 */
	height: 45px;
	background-image: url('/images/tempLogo3.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 50px; /* 로고와 select 사이의 간격 */
}

.date-select {
    width: 300px; /* select 칸의 길이 조정 */
    height: 30px;
    margin-left: 50px; /* select와 로고 사이의 간격 */
    font-size:18px;
}

.popup {
    width: 1000px;
    height: 600px;
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px auto;
    border-radius: 8px;
    overflow: hidden;
}

.payment-method {
    width: 30%;
    padding: 20px;
    background-color: #fafafa;
    border-right: 1px solid #e0e0e0;
    
}

.payment-method h2 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e0e0e0;
    color: #333;
}

.method-list label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.point-info h3 {
    margin-top: 40px;
    font-size: 18px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}

.point-info ul {
	font-size: 13px;
    list-style: none;
    padding: 0;
}

.point-info li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.point-info button {
    padding: 5px 10px;
    background-color: #ff9a9e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* .point-info button:hover { */
/*     background-color: #ff1493; */
/* } */

.payment-input {
    width: 39%;
    padding: 20px;
}

.payment-input h2 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e0e0e0;
    color: #333;
}

.card-info label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
}

/* select {
    width: 100%; 
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    appearance: none;
    background: url('dropdown-arrow.png') no-repeat right 10px center; 
    background-size: 15px; 
    
} */

select:focus {
    outline: none;
    border: 1px solid #666;
}


.card-info select {
    width: 100%;
    padding: 5px;
    border: 1px solid #e0e0e0;
/*     appearance: none; */
/*  background: url('dropdown-arrow.png') no-repeat right 10px center;  */
    border-radius: 5px;
    cursor: pointer;
}

.promotion-banner img {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

.sidebar {
    width: 40%;
    padding: 20px;
    padding-top: 40px;
    border-left: 1px solid #e0e0e0;
}

.sidebar h2 {
	font-size: 22px;
	margin-top: 30px;
}

.ticket-info p {
    margin: 10px 0;
    font-size: 12px;
}

.my-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.my-table th, .my-table td {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
}

.my-table th {
    width: 35%;
/*     font-weight: bold; */
    color: #555;
    font-size: 13px;
}

.my-table td {
	font-size: 15px;
}


.my-table .total-row {
    font-size: 15px;
    font-weight: bold;
}

.nextStepPayBtn, .prevStepBtn {
    width: 49%;
    height: 45px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff9a9e;
    text-align: center;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.prevStepBtn:hover, .nextStepPayBtn:hover {
   	opacity: 90%;
}